@model Woa.Models.Valutazione

@{
    ViewData["Title"] = "Delete";
}

@section Paziente {
    @await Component.InvokeAsync("PazienteHeader", new { pazienteId = Model.PazienteId })
}

@section Consulto {
    @await Component.InvokeAsync("ConsultoHeader", new { consultoId = Model.ConsultoId })
}

<h3>Valutazione</h3>

<div class="panel panel-default">
    <p class="text-danger">@ViewData["ConcurrencyErrorMessage"]</p>

    <h4 class="text-danger">Are you sure you want to delete this?</h4>
    <hr />

    <dl class="dl-vertical panel-body">
        <dt>
            @Html.DisplayNameFor(model => model.Strutturale)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Strutturale)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CranioSacrale)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CranioSacrale)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AkOrtodontica)
        </dt>       
        <dd>
            @Html.DisplayFor(model => model.AkOrtodontica)
        </dd>
    </dl>
</div>
<div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-controller="Consulti" asp-action="Details" asp-route-id="@Model.ConsultoId">Back to List</a>
    </form>
</div>