@model IEnumerable<Woa.Models.AnamnesiRemota>

@{
    
}

<div class="panel panel-default">
    <div class="panel-heading">
	    <h4>Anamnesi Remote</h4>
	</div>
    <div class="panel-body">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        <span>Data</span>
                    </th>
                    <th>
                        <span>Tipo</span>
                    </th>
                    <th>
                        <span>Descrizione</span>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(model => item.Data)
                        </td>
                        <td>
        				    @Html.DisplayFor(model => item.Tipo.Descrizione)
                        </td>
                        <td>
                            @Html.DisplayFor(model => item.Descrizione)
                        </td>
                        <td>
                            <a asp-controller="AnamnesiRemote" asp-action="Details" asp-route-id="@item.ID">Details</a> 
                        </td>
                    </tr>
                }
            </tbody>
        </table>
	</div>
    <div class="panel-footer">
        <p>
            <a asp-controller="AnamnesiRemote" asp-action="Create" asp-route-pazienteId="@ViewBag.PazienteId">Create New</a>
        </p>            
    </div>  	
</div>

