@model Woa.Models.AnamnesiRemota

@{
    ViewData["Title"] = "Delete";
}

@section Paziente {
    @await Component.InvokeAsync("PazienteHeader", new { pazienteId = Model.PazienteId })
}

<h3>Anamnesi Remota</h3>

<div class="panel panel-default">
    <p class="text-danger">@ViewData["ConcurrencyErrorMessage"]</p>

    <h4 class="text-danger">Are you sure you want to delete this?</h4>
    <hr />

    <dl class="dl-vertical panel-body">
        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tipo.Descrizione)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tipo.Descrizione)
        </dd>		
        <dt>
            @Html.DisplayNameFor(model => model.Descrizione)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descrizione)
        </dd>
    </dl>
</div>
<div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-controller="Pazienti" asp-action="Details" asp-route-id="@Model.PazienteId">Back to List</a>
    </form>
</div>