@model Woa.Models.AnamnesiProssima
<div class="panel panel-default">
    <div class="panel-heading">
        <h4>Anamnesi Prossima</h4>
    </div>
    <div class="panel-body">
    	<div condition="@Model!=null">
            <dl class="dl-vertical">
                <dt>
                    @Html.DisplayNameFor(model => model.PrimaVolta)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.PrimaVolta)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Tipologia)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Tipologia)
                </dd>
            </dl>

    	</div>
    </div>
    <div class="panel-footer">
        <div>
            <a condition="@Model==null" 
                asp-controller="AnamnesiProssima" 
                asp-action="Create" 
                asp-route-idConsulto="@ViewBag.ConsultoId">Create</a>
			
            <a condition="@Model!=null" 
				asp-controller="AnamnesiProssima" 
                asp-action="Details" 
                asp-route-idConsulto="@ViewBag.ConsultoId">Details</a> 			
        </div>   	
    </div>      
</div>